/* Light background: #3 5 3 6 2 9; */
/* New light dark background #3 2 3 6 3 d */
/* Dark background: #d f e 5 f 2; */

a {
    font-weight: normal;
    text-decoration: none;
}

/* TOP MENU */
.sm-dox {
    background: #dfe5f2 !important;
}

.sm-dox a {
    background: none;
}

body {
    background: #222222;
    background-image: none;
    color: #D8D8D8;
}

.fragment {
    border: 1px solid #222222;
    background: #333333;
    text-align: left;
    direction: ltr;
    overflow-x: auto;
    overflow-y: auto;
    display: block;
    font-family: monospace;
    white-space: pre;
}

a, a:link, a:visited {
    color: #67d8ef !important;
}

.highlighted {
    background: none !important;
}

a.highlighted {
    background: none !important;
}

/*********************************************/
/**              Top main menu              **/
/*********************************************/

#projectname {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
}

#main-nav {
    /* display: none; */
    border-bottom: 1px solid #333333;
}

#main-nav .sm-dox {
    background: transparent !important;
}

.sm-dox a {
    text-shadow: none !important;
    background: transparent !important;
}

.sm-dox a:hover {
    background: #222222 !important;
}

.sm-dox {
    text-shadow: none !important;
    box-shadow: none !important;
}

.sm-dox ul {
    border: 1px solid #000000;
    background: #333333;
}

/*********************************************/
/**               Top search                **/
/*********************************************/
#MSearchSelectWindow {
    border: 1px solid #000000;
    background: #333333;
}

a.selectItem {
    padding: 3px;
}

a.SelectItem:hover {
    background: #222222 !important;
}

#MSearchResultsWindow {
    border: 1px solid #000000;
    background: #333333;
    color: #67d8ef !important;;
}

/*********************************************/
/**                Main menu                **/
/*********************************************/
#nav-tree {
    background: transparent;
}

#nav-tree .selected {
    background-image: none;
    background: #333333;
}

/*********************************************/
/**               Main content              **/
/*********************************************/

.textblock, h1, h2, h3, h4, h5, h6 {
    font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
}

/*********************************************/
/**               Inline code               **/
/*********************************************/
p code,
li code,
td code,
dd code {
    background-color: #333333;
    border: 1px solid #222222;
    color: #D8D8D8;
    font-family: monospace;
}

.paramname>code {
    background-color: #555555;
    border: 2px solid #555555;
}

/*********************************************/
/**         Table of Contents (ToC)         **/
/*********************************************/
div.toc {
    background: #333333;
    border: 1px solid #222222;
}

div.toc h3 {
    font-size: 150%;
    color: inherit;
}

/*********************************************/
/**              Content table              **/
/*********************************************/
table.doxtable tr:nth-child(even) td {
    background: #333333;
}

div.header {
    background: transparent;
    border-bottom: 1px solid #333333;
    margin: 5px;
}

div.title {
    font-size: 20px;
    margin: 5px;
    font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
}

div.summary {
    /*font-size: 12px;*/
    margin: 5px;
}

/*********************************************/
/**               Field table               **/
/*********************************************/
.fieldtable th {
    background: #222222;
    color: inherit;
}

/*********************************************/
/**           Memitem and memtitle          **/
/*********************************************/

/*********************************************/
/**             TOP navigation              **/
/*********************************************/
.tabs, .tabs2, .tabs3 {
    background: #DDDDDD;
}

.tablist li {
    background: transparent !important;
}

.tablist a {
    background-image: none;
    border-right: 1px solid #999999;
    color: #333333;
}

.tablist a:hover,
.tablist li.current a {
    text-decoration: none;
    color: #000000;
    background: #CCCCCC;
    background-image: none;
}

.navpath ul
{
    font-size: 11px;
    background-repeat:repeat-x;
    background-position: 0 -5px;
    height:30px;
    line-height:30px;
    color:#8AA0CC;
    border:solid 1px #C2CDE4;
    overflow:hidden;
    margin:0px;
    padding:0px;
}

.navpath li
{
    list-style-type:none;
    float:left;
    padding-left: 10px;
    padding-right: 15px;
    color:#364D7C;
}

.navpath li.navelem a
{
    height:32px;
    display:block;
    text-decoration: none;
    outline: none;
    color: #283A5D;
    font-family: 'Lucida Grande',Geneva,Helvetica,Arial,sans-serif;
    text-decoration: none;
}

.navpath li.navelem a:hover {
    font-weight: bold;
}

.navpath {
    margin-bottom: 10px;
    border-top: none;
    border-bottom: solid 2px #333333;
}

/*********************************************/
/**              H1 in textblocks           **/
/*********************************************/

/*********************************************/
/**               Note, warning             **/
/*********************************************/

/*********************************************/
/**               Reference list            **/
/**Similar to warning/note/todo/... messages**/
/*********************************************/
dl.reflist {

}


/*********************************************/
/**               Note, warning             **/
/*********************************************/
#docs_list {
    background: #333333;
}

#docs_list ul li {
    border-right: 1px solid #BFBFBF;
}

#docs_list ul li a {
    color: #1b1e21;
}

#docs_list ul li a:hover,
#docs_list ul li a.docs_current {
    background: #222222;
}

/*********************************************/
/**               Resizable UI              **/
/*********************************************/
.ui-resizable-e {
    background: #333333;
}

/*********************************************/
/**               Download url              **/
/*********************************************/

/*********************************************/
/**               Syntax folor              **/
/*********************************************/
div.line {
    background: transparent;
    color: inherit;
}

div.line a {
    color: inherit;
}

span.keyword {
    color: #f92472;
    font-style: italic;
}

span.keywordtype {
    color: #67cfc1;
    font-style: italic;
}

span.keywordflow {
    color: #f92472;
    font-style: italic;
}

span.comment {
    color: #74705a;
}

span.preprocessor {
    color: #a6e22b;
}

span.stringliteral {
    color: #e7db74;
}

span.charliteral {
    color: #e7db74;
}

span.vhdldigit {
    color: #ff00ff;
}

span.vhdlchar {
    color: #000000;
}

span.vhdlkeyword {
    color: #700070;
}

span.vhdllogic {
    color: #ff0000;
}

span.lineno {
    background: transparent;
}

span.lineno a {
    background: transparent;
}

/*********************************************/
/**          Modules/Directory table        **/
/*********************************************/
.mdescLeft, .mdescRight, .memItemLeft, .memItemRight,
.memTemplItemLeft, .memTemplItemRight, .memTemplParams {
    background: #333333;
    color: inherit;
}

.memSeparator {
    border: none;
    background: transparent;
}

h2.groupheader {
    color: #67d8ef;
}

.memberdecls {
    border: none !important;
    border-collapse: collapse !important;
}

/*********************************************/
/**                 Mem items               **/
/*********************************************/
.memtitle {
    background: #333333 !important;
    border-color: #000000;
    text-shadow: none;
    margin-bottom: -1px;
    padding: 5px;
    font-family: monospace;
}

.memtitle>.overload {
    color: #555555;
    font-style: italic;
}

.memitem {
    background: #333333 !important;
    color: inherit;
    text-shadow: none;
    padding: 5px;
}

.memproto {
    background: inherit;
    border-color: #333333;
    color: inherit;
    text-shadow: none;
}

.memproto table td {
    font-family: monospace, fixed !important;
}

.memtemplate, td.memItemLeft, td.memItemRight, td.memTemplParams, td.memTemplItemLeft, td.memTemplItemRight {
    font-family: monospace, fixed;
}

.paramname, .paramname em {
    font-style: italic;
    font-family: monospace, fixed;
    color: #bf5f82;
}

.memdoc {
    background: inherit;
    border-color: #333333;
    border: 1px solid #333333;
}

table.mlabels {
    border-spacing: 0px;
}

td.mlabels-left {
    width: 100%;
    padding: 0px;
}

td.mlabels-right {
    vertical-align: bottom;
    padding: 0px;
    white-space: nowrap;
}

span.mlabels {
        margin-left: 8px;
}

span.mlabel {
    background-color: #66d8ef;
    text-shadow: none;
    color: #222222;
    margin-right: 4px;
    padding: 2px 3px;
    font-size: 8pt;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 3px;
}

/*********************************************/
/**                 Footer                  **/
/*********************************************/
.titlearea {
    border-bottom: 1px solid #333333;
}

/*********************************************/
/**                 Footer                  **/
/*********************************************/
#nav-path {
    background: transparent;
}

#nav-path ul {
    background: transparent;
    color: inherit;
    border: none;
    border-top: 1px solid #333333;
}

.navpath li.footer {
    color: inherit;
}

.navpath li.navelem a {
    text-shadow: none;
}

/*********************************************/
/**             Custom scrollbar            **/
/*********************************************/
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #234567;
    border: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #333333;
}

/*********************************************/
/**             Custom scrollbar            **/
/*********************************************/
h1.glow, h2.glow, h3.glow,
h4.glow, h5.glow, h6.glow {
    text-shadow: 0 0 15px #67d8ef;
}


/*********************************************/
/**             Custom scrollbar            **/
/*********************************************/

.directory table {
    border-collapse:collapse;
}

.directory td {
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

.directory td.entry {
    white-space: nowrap;
    padding-right: 6px;
    padding-top: 3px;
}

.directory td.entry a {
    outline: none;
}

.directory td.entry a img {
    border: none;
}

.directory td.desc {
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
    border-left: 1px solid rgba(0,0,0,0.05);
}

.directory tr.even {
    padding-left: 6px;
    background-color: #333333;
}

.directory img {
    vertical-align: -30%;
}

.directory .levels {
    white-space: nowrap;
    width: 100%;
    text-align: right;
    font-size: 9pt;
}

.directory .levels span {
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
    color: #3D578C;
}

.arrow {
    color: #9CAFD4;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-size: 80%;
    display: inline-block;
    width: 16px;
    height: 22px;
}

.icon {
    font-family: Arial, Helvetica;
    font-weight: bold;
    font-size: 12px;
    height: 14px;
    width: 16px;
    display: inline-block;
    background-color: #66d8ef;
    color: #222222;
    text-align: center;
    border-radius: 4px;
    margin-left: 2px;
    margin-right: 2px;
}

.icona {
    width: 24px;
    height: 22px;
    display: inline-block;
}

.iconfopen {
    width: 24px;
    height: 18px;
    margin-bottom: 4px;
    background-image:url('folderopen.png');
    background-position: 0px -4px;
    background-repeat: repeat-y;
    vertical-align:top;
    display: inline-block;
}

.iconfclosed {
    width: 24px;
    height: 18px;
    margin-bottom: 4px;
    background-image:url('folderclosed.png');
    background-position: 0px -4px;
    background-repeat: repeat-y;
    vertical-align:top;
    display: inline-block;
}

.icondoc {
    width: 24px;
    height: 18px;
    margin-bottom: 4px;
    background-image:url('doc.png');
    background-position: 0px -4px;
    background-repeat: repeat-y;
    vertical-align:top;
    display: inline-block;
}

table.directory {
    font: 400 14px Roboto,sans-serif;
}


.ttc {
    position: absolute;
    display: none;
}
